<template name="Panel">
  {{> Header}}

  <main role="main" class="container">
  {{#if currentUser}}

      
    <div class="card mb-3">
      <h3 class="card-header">Şifreler</h3>
      <div class="card-body">
        <h5 class="card-title">
            <button  type="submit" class="btn btn-success" Go>Yeni Oluştur</button>
        </h5>
        <div class="form-group">
          <label for="exampleInputPassword1">Arama</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Arama">
        </div>
      </div>
      <ul class="list-group list-group-flush">
      
        {{#each fetchData}}
          <li class="list-group-item" id="{{_id}}" >{{site}}</li>
        {{/each}}

      </ul>
     
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    

  {{else}}

  <h2>Giriş Yetkiniz Bulunmamaktadır</h2>
  {{/if}}

</main>


  
 
</template>