<template name="New">
  {{> Header}}

  <main role="main" class="container">
    {{#if currentUser}}

    <div class="card border-dark mb-3">
      <div class="card-header">title</div>
      <div class="card-body text-dark form">

        {{#if activeAccount}}
         {{#with activeAccount}} 
          {{> Form}} 
         {{/with}} 
        {{else}} 
         {{> Form}}
        {{/if}}


        <div class="text-right">
          <button type="submit" class="btn btn-info" Back>Geri Dön</button>
          {{#if activeAccount}}
          <button type="submit" class="btn btn-danger" Delete>Sil</button>
          {{/if}}
          <button type="submit" class="btn btn-success" Save>Kaydet</button>
        </div>

      </div>
    </div>

    {{else}}
    <h2>Giriş Yetkiniz Bulunmamaktadır</h2>
    {{/if}}

  </main>




</template>


<template name="Form">
    <h4 class="card-title">{{dateFormat createdDate}}</h4>

  <div class="form-group">
    <label>Site</label>
    <input type="text" class="form-control" name="site" value="{{site}}" autocomplete="false" />
  </div>

  <div class="form-group">
    <label>Email Adresi</label>
    <input type="text" class="form-control" name="email" value="{{email}}" autocomplete="false" />
  </div>
  <div class="form-group">
    <label>Kullanıcı Adı</label>
    <input type="text" class="form-control" name="username" value="{{username}}"  />
  </div>
  <div class="form-group">
    <label>Şifre</label>
    <input type="password" class="form-control" name="password" value="{{password}}" />
  </div>
</template>